<footer>
  <button type="button" ng-click="forward()" ng-show="!hideForward"
      ng-class="{disabled: disableForward}" ng-disabled="disableForward"
      tabindex="12">
      {{(forwardText || "CONTINUE_BUTTON_TEXT") | translate}}
  </button>
  <button type="button" ng-click="back()" ng-show="!hideBack"
      ng-class="{disabled: disableBack}" ng-disabled="disableBack"
      tabindex="11">
      {{(backText || "GO_BACK_BUTTON_TEXT") | translate}}
  </button>

  <a href="{{'LEARN_MORE_LINK_URL' | translate}}" target="learnmore" tabindex="10">{{"LEARN_MORE_LINK_TEXT" | translate}}</a>
</footer>
