<div ng-controller="recovery.controllers.SelectDeviceByHwidController">
  <section class="instruction">
    <article>
      <h1>{{"SELECT_IMAGE_TITLE" | translate}}</h1>

      <figure>
        <img class="image" ng-src="{{app.writeParams.device.photourl}}" alt="" />
        <figcaptionblock>
          <figcaptiontext>{{app.writeParams.device.name}}</figcaptiontext>
          <figcaptiontext ng-show="!!app.writeParams.device.chromeOsVersion">
            <br/>({{app.writeParams.device.chromeOsVersion}})
          </figcaptiontext>
        </figcaptionblock>
      </figure>

      <section class="enter-model">
        <label for="hwid_box" class="label-for-control">{{"SELECT_IMAGE_TEXT" | translate}}</label>

        <label for="hwid_box" class="label-for-control"
            ng-show="selectByHwidController.showPopulateUsingModelNumber">
          {{"SELECT_IMAGE_THIS_CHROMEBOOKS_MODEL_NUMBER" | translate}}&nbsp;
          <a href="" tabindex="1"
              ng-click="selectByHwidController.populateUsingModelNumber()"
              ng-show="selectByHwidController.showPopulateUsingModelNumber">
            {{app.currentChromebookHwid}}
            <br>
          </a>
        </label>

        <div class="input-section bottomspacer15">
          <input jfk-input id="hwid_box" tabindex="2"
              placeholder="{{app.hwidPlaceholder}}"
              ng-model="app.userHwid" ng-trim="false"/>

          <div ng-class="app.hwidEntryMessageStyle">
            <span class="icon" ng-show="app.hwidEntryMessageKey"></span>
            {{app.hwidEntryMessageKey | translate}}
          </div>
        </div>

        <a href="" ng-click="selectDeviceController.selectByModel()" tabindex="3">
          {{"SELECT_IMAGE_SELECT_FROM_LIST_LINK_TEXT" | translate}}
        </a>
      </section>

    </article>
  </section>
</div>
