[submodule "vifm/colors"]
	path = vifm/colors
	url = https://github.com/vifm/vifm-colors.git
[submodule "fasd"]
	path = fasd
	url = https://github.com/clvv/fasd.git
[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim.git
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "gitwatch"]
	path = gitwatch
	url = https://github.com/gitwatch/gitwatch.git
