Trash/
.tmp*/
google-chrome-beta/
google-chrome-unstable/
*google*
firefox/
google-chrome/
chromium/
config/pulse/
config/PowerToys/
vifminfo  
!./config/nvimnew/lazy-lock.json
tags
history.*
test
*.log
!./config/PowerToys/Keyboard Manager/settings.json
newtest/

