<div ng-controller="recovery.controllers.SelectDeviceByModelController">

  <section class="instruction">
    <article>
      <h1>{{"SELECT_IMAGE_TITLE" | translate}}</h1>

      <figure>
        <img class="image" ng-src="{{app.writeParams.device.photourl}}" alt="" />
        <figcaptionblock>
          <figcaptiontext>{{app.writeParams.device.name}}</figcaptiontext>
          <figcaptiontext ng-show="!!app.writeParams.device.chromeOsVersion">
            <br/>({{app.writeParams.device.chromeOsVersion}})
          </figcaptiontext>
        </figcaptionblock>
      </figure>

      <section>
        <jfk-select override-jfk-select-tabindex="1"
            ng-model="app.selectedOem">
          <span>{{"SELECT_IMAGE_SELECT_MANUFACTURER_PLACEHOLDER" | translate}}</span>
          <jfk-menu>
            <jfk-menu-item ng-repeat="oem in selectByModelController.oemList">{{oem}}</jfk-menu-item>
          </jfk-menu>
        </jfk-select>

        <br />

        <jfk-select override-jfk-select-tabindex="2"
            ng-model="app.selectedSku"
            ng-disabled="selectByModelController.skuList.length == 0">
          <span>{{"SELECT_IMAGE_SELECT_PRODUCT_PLACEHOLDER" | translate}}</span>
          <jfk-menu>
            <jfk-menu-item ng-repeat="sku in selectByModelController.skuList"
                           jfk-model-value="sku">{{sku}}</jfk-menu-item>
          </jfk-menu>
        </jfk-select>

        <br />

        <a href="" ng-show="app.hasSelectByHwid" ng-click="selectDeviceController.selectByHwid()" tabindex="3">{{"SELECT_IMAGE_SELECT_BY_HWID_LINK_TEXT" | translate}}</a>
      </section>
    </article>
  </section>

</div>
