<div ng-show="app.showUserFeedbackForm">
  <h1 style="margin-bottom: 0;margin-top: 10px">(Optional) Help us improve our product.</h1>
  <h2 style="margin-bottom: 5px;margin-top: 3px">
    Could you tell us what happened to your device?</h2>
  <textarea id="free_text_box" name="free_text" cols="50" rows="3" style="resize: none"
            aria-label="Text box to enter details about what happened to your device."
            ng-model="app.feedbackFormData['free_text']"></textarea>
  <br>
  <label>
    <input type="checkbox" ng-model="app.feedbackSendDeviceModel"
           name="sendDeviceModel">
      <span>Include device model (</span><!--
      --><span ng-if="app.userHwid == ''">{{app.selectedOem}} - {{app.selectedSku}}</span><!--
      --><span ng-if="app.userHwid != ''">{{app.writeParams.device.manufacturer}} -
      {{app.writeParams.device.model}}</span><!--
      --><span>)?</span>
  </label>
  <br>
  <label for="usageFrequency">How frequently do you use this tool?
    <select id="usageFrequency" name="usageFrequency"
            ng-model="app.feedbackFormData['usage_frequency']">
      <option value="FIRST_TIME">First Time</option>
      <option value="DAILY">Daily</option>
      <option value="WEEKLY">Weekly</option>
      <option value="MONTHLY">Monthly</option>
      <option value="LESS_THAN_MONTHLY">Less than once a month</option>
    </select>
  </label>
  <div id="privacy-note">
    Go to the <a href="https://support.google.com/legal/answer/3110420" target="_blank">
    Legal&nbsp;Help&nbsp;page</a> to request content changes for legal reasons. Some account and
    system info will be sent to Google. We'll use the info you give us to address technical issues
    and improve our services, subject to our
    <a href="https://policies.google.com/privacy" target="_blank">Privacy&nbsp;Policy</a> and
    <a href="https://policies.google.com/terms" target="_blank">Terms&nbsp;of&nbsp;Service</a>.
  </div>
</div>
