<div>

  <section class="instruction">
    <article>
      <h1>{{"ERASE_COMPLETE_TITLE" | translate}}</h1>

      <ul>
        <li>{{"ERASE_COMPLETE_BULLET1" | translate}}</li>
        <li>{{"ERASE_COMPLETE_BULLET2" | translate}}</li>
      </ul>
    </article>
  </section>

  <footer>
    <button type="button" ng-click="app.close()" tabindex="12">{{"DONE_BUTTON_TEXT" | translate}}</button>
    <button type="button" ng-click="app.reset()" tabindex="11">{{"CREATE_ANOTHER_BUTTON_TEXT" | translate}}</button>

    <a href="http://google.com/chromeos/recovery" target="learnmore" tabindex="10">{{"LEARN_MORE_LINK_TEXT" | translate}}</a>
  </footer>

</div>
