[Unit]
Description=xmod
PartOf=graphical-session.target

[Service]
ExecStart=$HOME/dotfiles/gitwatch
# Restart=always

[Install]
WantedBy=xsession.target
