[Unit]
Description=xmod
PartOf=graphical-session.target

[Service]
ExecStart=$HOME/dotfiles/gitwatch/gitwatch.sh $HOME/workspace
# Restart=always

[Install]
WantedBy=xsession.target
