[Unit]
Description=xmod
PartOf=graphical-session.target

[Service]
ExecStart=/usr/sbin/xmodmap -${HOME}/
Restart=always

[Install]
WantedBy=xsession.target
