[Unit]
Description=xmod
PartOf=graphical-session.target

[Service]
ExecStart=/usr/sbin/xbindkeys -n -f ${HOME}/projects/dotfiles/.xbindkeysrc
Restart=always

[Install]
WantedBy=xsession.target
