<!doctype html>
<html ng-app='translit' ng-csp lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Translit</title>

    <script src="../libs/lodash.min.js"></script>
    <script src="../libs/angular.min.js"></script>
    <script src="../inputhandler.js"></script>
    <script src="main.js"></script>

    <link rel="stylesheet" href="style.css" type="text/css" />

</head>

<body ng-controller='main as ctrl'>

    <h1>Транслит</h1>
    
    <textarea data-translit="text" autofocus placeholder="В этом окошке можно писать по правилам транслита." spellcheck="true"></textarea>
    
    <div class="rules">
        <div class="icon">&#9000;</div>
        <ul ng-if="definitions" class="letters">
            <li ng-repeat="ch in alphabet" class="letter" ng-click="ctrl.append(ch)">
                <div data-expl="definitions[ch]" data-ch="{{ch}}" class="expl"></div>
            </li>
        </ul>
    </div>  

    <div class="hint">
        <p ng-if="shortcut">Клавиши <span>{{shortcut}}</span> включают и выключают автоматический транслит в полях ввода на всех страницах.</p>
        <p ng-if="!shortcut">Включите клавиши быстрого доступа в установках хрома, чтобы пользоватся транслитом прямо на страницах.</p>
    </div>
    

    <script src="../libs/analytics.js"></script>
</body>

</html>