* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
html,
body {
  height: 100%;
  background: #f7f7f7;
  color: #111111;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Lucida Sans", "Droid Sans", "Liberation Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}
a[target] {
  color: #111111;
}
:focus {
  outline: #880088 auto 5px;
}
.titlebar {
  flex: 0 0 30px;
  z-index: 999;
}
.tabs {
  flex: 0 0 32px;
}
.central {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  align-content: stretch;
  min-height: 0;
}
.editing {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
}
#editor {
  flex-grow: 1;
  padding-top: 2px;
  z-index: 9;
}
.bottom-bar {
  flex: 0 0 auto;
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.immersive .titlebar,
.immersive .bottom-bar {
  display: none;
}
.immersive .central {
  margin-top: 5px;
}
.immersive .tabs {
  height: 6px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  transition: height .3s ease;
  align-items: stretch;
  align-content: stretch;
  z-index: 999;
}
.immersive .tabs .tab {
  overflow: hidden;
}
.immersive .tabs:hover {
  height: 34px;
}
.tabs {
  background: linear-gradient(to bottom, #aaaaaa, #c3c3c3);
  padding: 2px 2px 0 0;
  display: flex;
  justify-content: flex-start;
}
.tabs .tab {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 200px;
  margin-right: 3px;
  opacity: .5;
  background: radial-gradient(ellipse 200px 25px at top center, #ffffff, #dedede);
  border-radius: 2px 2px 0 0;
  border-bottom: 4px solid #dedede;
  color: #111111;
  padding: 0;
  flex: 1 1 auto;
  position: relative;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.3);
  transition: max-width 0.5s linear, -webkit-transform 0.2s ease, border-width 0.2s ease, opacity 0.2s ease;
  transition: max-width 0.5s linear, transform 0.2s ease, border-width 0.2s ease, opacity 0.2s ease;
}
.tabs .tab a {
  text-decoration: none;
  color: #111111;
  padding: 4px 0;
  width: 100%;
}
.tabs .tab.active {
  padding-bottom: 0px;
  border-bottom: 4px solid #880088;
  color: #111111;
  opacity: 1;
  z-index: 9;
}
.tabs .tab.active .close {
  color: #880088;
}
.tabs .tab:hover:not(.active) {
  opacity: .8;
}
.tabs .tab.dragging {
  width: 0;
  padding: 0;
  flex-grow: 0;
}
.tabs .tab.hovering {
  border-color: #aaaaaa;
  border-left-width: 25px;
  border-left-style: solid;
}
.tabs .tab.enter {
  -webkit-transform: translateY(24px);
  transform: translateY(24px);
}
.tabs .tab .label {
  cursor: default;
  padding: 7px 0 0 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tabs .tab .close {
  font-size: 19px;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  position: relative;
  margin-left: 4px;
  padding: 0 4px 0 0;
  cursor: pointer;
  align-self: center;
  font-family: monospace;
}
.tabs .tab .close:hover {
  color: #111111;
}
.tabs .tab.newtab {
  opacity: .25;
  min-width: 30px;
  max-width: 30px;
  margin: 2px 0 4px 0;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.tabs .tab.newtab .big-label {
  font-size: 24px;
  color: #aaaaaa;
  font-weight: bold;
  text-align: center;
}
.titlebar {
  -webkit-app-region: drag;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 16px;
  background: linear-gradient(to left, #f7f7f7, #ececec);
}
.titlebar .toolbar,
.titlebar .window-controls {
  -webkit-app-region: no-drag;
}
.titlebar .app-name {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #111111;
}
.titlebar .window-controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-content: stretch;
  align-items: baseline;
  padding: 0 4px;
}
.titlebar .window-controls a {
  width: 40px;
  display: block;
  margin-left: 1px;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #d0d0d0;
  color: #4d4d4d;
  transition: opacity .3s ease;
  opacity: .8;
  color: #111111;
}
.titlebar .window-controls a:hover {
  opacity: 1;
  color: #111111;
}
.titlebar .window-controls a.close {
  background: #880088;
  color: white;
}
.bottom-bar {
  margin: 0;
  padding: 2px 5px;
}
.bottom-bar .status-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.bottom-bar select {
  margin: 0;
  border: none;
  width: 150px;
  background: #f7f7f7;
  color: #111111;
  -webkit-appearance: none;
}
.command-line {
  display: none;
  height: 30px;
  padding: 4px;
}
.command-line.show {
  display: flex;
  align-content: stretch;
  align-items: center;
}
.command-line input {
  width: 100%;
  padding: 4px;
  font-family: monospace;
  border: none;
}
.command-line .close {
  font-weight: bold;
  font-size: 15px;
  padding: 0 8px;
}
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
  border: 3px solid transparent;
  border-radius: 6px;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}
::-webkit-scrollbar-corner {
  background-color: #d5d5d5;
}
.toolbar {
  padding: 0;
  margin: 0;
  color: #111111;
  line-height: 30px;
  list-style-type: none;
  z-index: 99;
}
.toolbar hr {
  border: none;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  margin: 4px 8px;
}
.toolbar .shortcut {
  color: rgba(17, 17, 17, 0.5);
  margin-left: 1em;
}
.toolbar li {
  transition: opacity .2s;
  display: flex;
  padding: 4px 8px;
  justify-content: space-between;
  position: relative;
}
.toolbar li:hover,
.toolbar li.active {
  background: #e1e1e1;
}
.toolbar li.parent:hover > .menu,
.toolbar li.active > .menu {
  display: block;
}
.toolbar li .menu {
  display: none;
  min-width: 250px;
  position: absolute;
  margin-left: 90%;
  margin-top: -2em;
  z-index: 999;
  background: #f7f7f7;
  padding: 8px 0;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
}
.toolbar li.parent::after {
  content: "►";
  font-family: serif;
  position: absolute;
  right: 4px;
  top: 0;
  color: rgba(17, 17, 17, 0.5);
}
.toolbar > li {
  display: inline-block;
  padding: 4px 8px;
  line-height: initial;
}
.toolbar > li > .menu {
  margin-left: -8px;
  margin-top: 4px;
}
.dialog {
  min-width: 250px;
  max-width: 400px;
  margin-top: 50px;
  background: white;
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  padding: 10px;
  border: 2px solid #AAA;
  line-height: 170%;
  transition-property: -webkit-transform;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  -webkit-transform: translateY(0px) rotateX(0);
}
.enter .dialog {
  -webkit-transform: translateY(-20px) rotateX(-45deg);
}
.dialog .text {
  white-space: pre-wrap;
  text-align: center;
  display: block;
}
.dialog .button-row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 16px;
}
.dialog .button-row button {
  padding: 8px;
  border: 1px solid #888;
  text-align: center;
  background: white;
  color: black;
  min-width: 75px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.dialog .button-row button:hover {
  border: 1px solid black;
}
.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(100, 100, 100, 0.5);
  z-index: 99;
  transition-duration: .2s;
  transition-timing-function: linear;
  transition-property: opacity;
  opacity: 1;
  -webkit-transform: translateZ(0);
  z-index: 999;
}
.modal-overlay.enter {
  opacity: .2;
}
.credits {
  white-space: initial;
}
.credits h2 {
  font-size: 18px;
  font-weight: normal;
}
.credits h3 {
  font-size: 14px;
}
.credits a,
.credits a:visited {
  color: #880088;
}
.credits ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.credits ul li {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.palette {
  display: none;
  width: 320px;
  position: fixed;
  top: 20px;
  left: calc(50% - 150px);
  background: transparent;
  color: #000000;
  z-index: 999;
  font-size: 16px;
  transition-property: opacity, -webkit-transform;
  transition-duration: .1s, .2s;
  transition-timing-function: linear, ease-in-out;
  -webkit-transform: perspective(1000px) translateY(0px) rotateX(0deg) translateZ(0);
  opacity: 1;
}
.palette.enter {
  opacity: .2;
  transition-duration: 0s, 0s;
  -webkit-transform: perspective(1000px) translateY(10px) rotateX(-45deg) translateZ(-20px);
}
.palette.active {
  display: block;
}
.palette .main {
  background: #ffffff;
  padding: 8px 12px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
}
.palette h1 {
  font-size: 12px;
  padding: 0;
  margin-top: 0px;
}
.palette input {
  width: 100%;
  display: block;
  border: 2px solid #555;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  background: transparent;
  color: #111111;
  font-weight: bold;
  font-size: 18px;
}
.palette input:focus {
  outline: 1px solid #f7f7f7;
}
.palette .results {
  background: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
}
.palette .results li {
  border-top: 1px solid #aaaaaa;
  display: block;
  padding: 8px;
}
.palette .results li.current {
  background: #aaaaaa;
  font-weight: bold;
}
.palette .results li .label {
  font-size: 14px;
}
.palette .results li .sublabel {
  font-size: 11px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  max-height: 1.5em;
}
@-webkit-keyframes progress {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}
.project {
  overflow-x: auto;
  overflow-y: auto;
  box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.4);
  background: #444444;
  flex-shrink: 0;
  position: relative;
  transition: width 0.3s ease, border-width 0.3s ease, padding 0.3s linear;
  width: 0px;
  padding: 4px 0;
}
.project.autohide.show {
  padding: 4px 0;
  width: 0px;
  border-right: 15px solid #444444;
}
.project.autohide.show:hover,
.project.autohide.show.loading {
  padding: 4px 8px;
  width: 200px;
  border-right-width: 0px;
}
.project.show:not(.autohide) {
  width: 200px;
  padding: 4px 8px;
}
.project a {
  display: block;
  padding: 4px;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  border-radius: 2px;
}
.project a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.project a:active {
  background: rgba(255, 255, 255, 0.15);
}
.project a:focus {
  outline: none;
}
.project ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.project li {
  color: #ffffff;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
  white-space: no-wrap;
}
.project li > ul {
  display: none;
  padding-left: 6px;
}
.project li.expanded > ul {
  display: block;
}
.project .directory {
  color: #b3b3b3;
  position: relative;
}
.project .directory:before {
  content: ">";
  position: absolute;
  left: -5px;
  opacity: .5;
  display: inline-block;
  transition: all .3s;
}
.project .directory:hover:before {
  opacity: 1;
}
.project .root:not(:first-child) {
  border-top: 1px solid #777777;
  margin-top: 4px;
  padding-top: 4px;
}
.project .root > .directory {
  font-weight: bold;
}
.project .root > .directory:before {
  content: none;
}
.project .expanded > .directory:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.project .load-ui {
  display: none;
  position: absolute;
  width: 100%;
  background: #111111;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  top: 0;
  left: 0;
  padding-top: 8px;
  z-index: 9;
}
.project .load-ui .progress {
  background: #880088;
  height: 2px;
  margin-top: 6px;
  -webkit-animation: progress 2s infinite ease-in-out;
}
.project.loading .load-ui {
  display: block;
}
.central {
  border-width: 0px 1px 0px 0px;
  border-color: #AAA;
  border-style: outset;
}
.bottom-bar {
  border-width: 0px 1px 1px 1px;
  border-color: #AAA;
  border-style: outset;
}
