* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}
html {
  width: 470px;
  overflow-x: hidden;
}
body {
  background-color: white;
  margin: 0;
  position: relative;
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}
body ::selection {
  background: #0039a6;
  /* WebKit/Blink Browsers */
  color: white;
}
h1 {
  background-color: #f5f5f5;
  color: #0039a6;
  font-weight: bold;
  padding: 5px 0 5px 10px;
  text-align: left;
  margin: 0;
  border-bottom: 1px solid #eeeeee;
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-resize: none;
  -ms-resize: none;
  -o-resize: none;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  list-style-type: none;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  padding: 5px 10px 5px 10px;
  display: block;
  width: 100%;
  height: 200px;
}
textarea::-webkit-input-placeholder {
  color: #dddddd;
  font-style: italic;
}
ul,
ol {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  list-style-type: none;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.rules {
  font-size: 0;
  background-color: #eeeeee;
  color: #777777;
  position: relative;
}
.rules .icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  list-style-type: none;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: inline-block;
  font-style: normal;
  width: 20px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 16px;
  vertical-align: top;
  cursor: default;
}
.rules .letters {
  vertical-align: top;
  width: calc(100% - 20px);
  display: inline-block;
  text-align: center;
}
.rules .letters .letter {
  display: inline-block;
  width: calc(100%/33);
  color: #b9b9b9;
  cursor: none;
  vertical-align: top;
  position: relative;
}
.rules .letters .letter:hover .big {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.rules .letters .letter:hover .small {
  color: #eeeeee;
}
.rules .letters .letter:hover .expl-box {
  opacity: 1;
}
.rules .letters .letter .big {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  width: 100px;
  left: calc(50% - 50px);
  top: -3px;
  text-align: center;
  -moz-transition: opacity 0.5s, transform 0.3s;
  -o-transition: opacity 0.5s, transform 0.3s;
  -webkit-transition: opacity 0.5s, transform 0.3s;
  transition: opacity 0.5s, transform 0.3s;
  opacity: 0;
  pointer-events: none;
  color: #d52b1e;
  font-size: 40px;
  line-height: 14px;
  font-weight: bold;
  z-index: 100;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.rules .letters .letter .expl-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  list-style-type: none;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  min-width: 25px;
  width: auto;
  pointer-events: none;
  position: fixed;
}
.rules .letters .letter .expl-box .combo {
  width: auto;
  display: block;
  text-align: left;
  margin-bottom: 10px;
  background-color: #eeeeee;
  padding: 5px;
}
.rules .letters .letter .expl-box .combo .keys .key {
  display: inline-block;
  color: white;
  background-color: rgba(30, 30, 30, 0.8);
  border: 1px solid black;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 24px;
  margin-right: 5px;
  text-transform: uppercase;
}
.rules .letters .letter .expl-box .combo .keys .key:last-child {
  margin-right: 0;
}
.rules .letters .letter .expl-box .combo .keys .key:last-child::after {
  display: none;
}
.rules .letters .letter .expl-box .combo .keys .key::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  display: block;
  border: 1px solid #868686;
  border-radius: 2px;
}
.hint {
  margin: 0;
  background-color: #f5f5f5;
  padding: 5px;
  color: #777777;
  text-align: center;
  cursor: default;
}
.hint p {
  font-size: 11px;
  margin: 0;
  line-height: 14px;
}
.hint span {
  color: #d52b1e;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  padding: 2px;
}
