# This file should be placed at ~/.config/yofi/yofi.config

# ~~Global values, used as fallback if needed
width = 400
height = 512
# If set forces usage of common window instead of Layer Shell protocol
force_window = false
# if unset, places window at the center
font = "Fira Code"
font_size = 18

scale = 3

theme = "Adwaita"
# if no icon found for an app, this on will be used instead
fallback_icon_path = "/usr/share/icons/Adwaita/16x16/categories/applications-engineering-symbolic.symbolic.png"
