# This file should be placed at ~/.config/yofi/yofi.config

# ~~Global values, used as fallback if needed
width = 600
height = 600
# If set forces usage of common window instead of Layer Shell protocol
force_window = true
# if unset, places window at the center
font = "JetBrains Mono"
font_size = 12


